@font-face {
  font-family: mer;
  src: url("Merienda-Bold.ttf");
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: url("comp.jpg");
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
  padding: 15px;
}
*{
  user-select: none;
  -moz-user-focus: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
header{
  font-family: fantasy;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  backdrop-filter: blur(5px);
  background: #0E0E0E;
}
.h1{
  color: ghostwhite;
  font-weight: 1000;
  font-size: 20px;
  font-family: mer;
}
header .links{
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
}
#lab{
  background: transparent;
  padding-left: 5px;
  color: ghostwhite;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 40px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  outline: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipt{
  display: none;
}
#snav{
  background: #19191DD4;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  place-items: center;
  place-content: center;
  flex-direction: column;
  transition: transform 1s ease;
  transform: translateX(-100vw);
  z-index: 9999;
}
.rounded{
  border-radius: 50%;
}
.s_dark{
  background: #1b1b3eDB;
}
.b_s_round{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  outline: none;
}
.links{
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}
.links:hover{
  border-bottom: 5px solid lightskyblue;
}
.out{
  transform: translateX(0px);
}
#next{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
}
#cards{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  background: #3B3B3B;
  margin-top: 40px;
  border-radius: 10px;
  padding-top: 20px;
}
.h{
  font-size: 30px;
  font-weight: 1000;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
}
.card{
  background: #EBECFF86;
  width: 75%;
  margin-bottom: 40px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px
}
#ab{
  padding: 5%;
  background: #42445AA1;
  backdrop-filter: blur(5px);
  width: 70%;
  font-weight: bolder;
  font-family: mer;
  color: white;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
}
.cardn,.abt{
  color: #FFFFFFED;
  font-family: mer;
  font-weight: 1000;
}
.cardn{
  font-size: 20px;
}
#jumb{
  color: whitesmoke;
  display: flex;
  padding: 15px;
  background: #0E0E0E;
  height: 35vh;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.button{
  background: dodgerblue;
  height: 40px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
  font-weight: bolder;
  border-radius: 6px;
  width: 150px;
}
.jumbh{
  font-size: 25px;
  font-weight: 1000;
}
b{
  font-weight: 1000;
}
header{
  background: #0E0E0E !important
}
#ab>h2{
  text-align: center;
}
#beam{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  color: mintcream;
  padding-right: 10px;
  background: dodgerblue;
  margin-top: 40px;
}
#glass{
  text-align: center;
  background: #FFFFFF3D;
  width: 70%;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  backdrop-filter: blur(5px);
}
footer{
  background: #0E0E0E;
  color: mintcream;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (min-width: 480px){
  header .links{
  display: inline;
  text-align: right;
}
.hl>.links{
  font-size: 18px;
}
#lab{
  display: none;
}
.hl{
  float: right;
  margin-left: 200px;
}
.hl>.links{
  margin-right: 10px;
}
#snav{
  display: none;
}
#ab{
  width: 50%;
}
#jumb{
  height: 120%;
}
}
@media only screen and (min-width: 768px) {
  header .links{
  display: inline;
}
header>img{
  height: 100px;
  width: 100px;
}
.hl>.links{
  font-size: 30px;
}
.h1{
  font-size: 40px;
}
#lab{
  display: none;
}
#cards{
  flex-direction: row;
  -ms-flex-direction: row;
  background: transparent;
  width: 95%;
  gap: 15px;
}
.card{
  height: 300px;
}
.hl{
  float: right;
  margin-left: 400px;
}
.hl>.links{
  margin-right: 10px;
}
#snav{
  display: none;
}
#ab{
  width: 50%;
  font-size: 25px;
  color: ghostwhite;
  font-weight: bolder;
}
}
